/* small screen */
@media screen and (min-width: 576px) {
    #about {
        padding-inline: 2.25rem;
    }

    #achievements {
        background-size: cover;
        background-position: center center;
    }
}

/*Medium Screen*/
@media screen and (min-width: 768px) {
    .b-shadow {
        padding: 4rem 3rem;
    }

    .fs-md-72 {
        font-size: 4.5rem;
    }

    .fs-md-40 {
        font-size: 2.5rem;
    }

    .w-md-75 {
        width: 75%;
    }

    .w-md-100 {
        width: 100%;
    }

    .mx-md-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .typed-cursor {
        font-size: 2.5rem;
    }

    .my-nav .navbar-brand {
        margin-left: -12px;
    }

    /* About */
    #about {
        padding-inline: 0;
    }
}

/*large Screen*/
@media screen and (min-width: 992px) {
    .w-lg-auto {
        width: auto;
    }

    /* Navbar */
    .my-nav
        .navbar-nav
        .dropdown
        .dropdown-menu
        ul.dropdown-menu.dropdown-submenu {
        right: 100%;
        top: 30px;
    }

    /*bg image header attachment fixed*/
    #header {
        background-attachment: fixed;
    }

    /*bg image achievements attachment fixed*/
    #achievements {
        background-attachment: fixed;
        background-size: cover;
    }

    #contact {
        background-attachment: fixed;
    }

    #slider {
        background-attachment: fixed;
    }
}
/*x large Screen*/
@media screen and (min-width: 1200px) {
    .w-xl-75 {
        width: 75%;
    }
}
